/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* N8N Toggle Switch Styles */
.toggle-bg:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 9999px;
  background-color: #fff;
  transition: transform .2s ease-in-out;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
}

input:checked + .toggle-bg {
  background-color: #2563eb; /* blue-600 */
}